<html>
  <head>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      
      socket.on('message', function(data) {
        document.getElementById('chat').innerHTML += '<br>' + data;
      });
      socket.on('json', function(data) {
        document.getElementById('json').innerHTML += '<br>' + data.user + ': ' + data.answer;
      });

      function sendMessage() {
        var user = document.getElementById('user').value;
        var message = document.getElementById('message').value;
        //sent string data
        socket.emit('message', message);
        //Sent JSON data
        socket.emit('json', {'user': user, 'answer': message});
      }

      function joinRoom() {
        var user = document.getElementById('user').value;
        var room = document.getElementById('room').value;
        socket.emit('join', {'username': user, 'room': room});
      }

      
    </script>
  </head>
  <body>
    <label for="user">User:</label><br>
    <input id="user" type="text"><br>
    <label for="message">message:</label><br>
    <input id="message" type="text"><br>
    <label for="room">room:</label><br>
    <input id="room" type="text"><br>
    
    <button onclick="sendMessage()">Send</button>
    <button onclick="joinRoom()">Join Room</button>
    <div id="chat"></div>
    <div id="json"></div>
  </body>
</html>