<html>
  <head>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      sessionStorage.setItem('stage', 'index');
      socket.on('update_content', function(data) {
        document.getElementById('content').innerHTML = data.new_content;
      });

      function joinRoom() {
        var user = document.getElementById('user').value;
        var room = document.getElementById('room').value;
        socket.emit('join', {'username': user, 'room': room});
        sessionStorage.setItem('stage', 'waiting_room');
        sessionStorage.setItem('user', user);
        sessionStorage.setItem('room', room);
      }
      
      //validate form
      function validateForm() {
        var user = document.getElementById('user').value;
        var room = document.getElementById('room').value;
        if (user == "" || room == "") {
          alert("Name and room must be filled out");
        }
        else {
          joinRoom();
        }
      }
      
      
    </script>
  </head>
  <body>
    <div id="content">
      <label for="user">User:</label><br>
      <input id="user" type="text" ><br>
      <label for="room">room:</label ><br>
      <input id="room" type="text"><br>
      
      <button onclick="validateForm()">Join Room</button>
      <div id="chat"></div>
      <div id="json"></div>
    </div>
    
  </body>
</html>